<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b687be">  <td>21/07/25 17:03:39</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;WebMainClass.setup()[pri:0, instance:MainPkg.WebMainClass@14555e0a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@977552154</td>   <td></td> </tr>
<tr bgcolor="b687be">  <td>21/07/25 17:03:43</td>   <td>3993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebMainClass.ClickDroppable()[pri:0, instance:MainPkg.WebMainClass@14555e0a]">ClickDroppable</td> 
  <td>main@977552154</td>   <td></td> </tr>
<tr bgcolor="b687be">  <td>21/07/25 17:03:45</td>   <td>6128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebMainClass.ClickSelectable()[pri:1, instance:MainPkg.WebMainClass@14555e0a]">ClickSelectable</td> 
  <td>main@977552154</td>   <td></td> </tr>
<tr bgcolor="b687be">  <td>21/07/25 17:03:47</td>   <td>8029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebMainClass.ClickControlGroup()[pri:2, instance:MainPkg.WebMainClass@14555e0a]">ClickControlGroup</td> 
  <td>main@977552154</td>   <td></td> </tr>
<tr bgcolor="b687be">  <td>21/07/25 17:03:49</td>   <td>9538</td> <td>&nbsp;</td><td title="&lt;&lt;WebMainClass.afterTest()[pri:0, instance:MainPkg.WebMainClass@14555e0a]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@977552154</td>   <td></td> </tr>
</table>
